* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    gap: 6px;
}

.loading span{
    width: 4px;
    height: 50px;
    background: #4c86f4;
    animation: scale 0.9s ease-in-out infinite;
}

.loading span:nth-child(2){
    background: #49a84c;
    animation-delay: -0.8s;
}

.loading span:nth-child(3){
    background: #ffb812;
    animation-delay: -0.7s;
}

.loading span:nth-child(4){
    background: #fa1818;
    animation-delay: -0.6s;
}

.loading span:nth-child(5){
    background: #2196f3;
    animation-delay: -0.5s;
}

.loading span:nth-child(6){
    background: #f9f14e;
    animation-delay: -0.4s;
}
.loading span:nth-child(7){
    background: #8800ff;
    animation-delay: -0.3s;
}
@keyframes scale{
    0%, 40%, 100%{
        transform: scaleY(0.05);
    }
    20%{
        transform: scaleY(1);
    }
}
